<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

    <div>
        <h1>Showing All Pokemon</h1>
        <a class='btn btn-primary' href="/pokemon/new">Add a New Pokemon</a>
        <% if (locals.pokemon) { %>
            <table class='table table-hover'>
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Trainer ID</th>
                    <th>Combat Power</th>
                    <th>In Gym?</th>
                </thead>
                <tbody>
                    <% for(var i=0; i<pokemon.length; i++) { %>
                        <tr>
                            <td><%= pokemon[i].id %></td>
                            <td>
                                <a href='/pokemon/<%= pokemon[i].id %>'>
                                    <%= pokemon[i].name %>
                                </a>
                            </td>
                            <td><%= pokemon[i].trainer_id %></td>
                            <td><%= pokemon[i].cp %></td>
                            <td><%= pokemon[i].in_gym %></td>
                            <td>
                                <a class='btn btn-success' href="/pokemon/<%= pokemon[i].id %>/edit">Edit</a>
                            </td>
                            <td>
                                <a class='btn btn-danger' href="/pokemon/<%= pokemon[i].id %>/delete">Delete</a>
                            </td>
                            <td>
                              <% if (p1 === pokemon[i].id) {%>
                                <form action="/pokemon/<%= pokemon[i].id %>/remove/p1" method="post">
                              <input type='submit' value='Remove from gym'/>
                            </form>
                              <% } else if (p2 === pokemon[i].id){ %>
                                <form action="/pokemon/<%= pokemon[i].id %>/remove/p2" method="post">
                                <input type='submit' value='Remove from gym'/>
                              </form>
                                <%  } else if (!(p1 && p2)) {%>
                                  <form action="/pokemon/<%= pokemon[i].id %>/assign" method="get">
                                    <input type='submit' value='Assign to gym'/>
                                  </form>
                            <% } %>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } %>
