<%- contentFor('body') %>

    <div class='gym'>
        <h1>GYM</h1>
        <div class="P1">
        <h2>Pokemon 1</h2>
        <% if(poke1) { %>
          <h3 id='pokemon1Name'> <%= poke1.name %></h3>
          <% } else { %>
            <form action="/pokemon/join/p1" method="post">
          <select id="pokemon1" name='pokemon_menu'>
                <% for (var i = 0; i < pokemon.length; i++){ %>
                    <option value="<%= pokemon[i].id %>">
                        <%= pokemon[i].name %>
                            <% } %>
              </select>
              <a id='join1' type='submit' class='btn btn-success' href="pokemon/join/p1">Add Pokemon to gym!</a>
            </form>
              <% } %>
        </div>
        <div class="P2">
            <h2>Pokemon 2</h2>
            <% if(poke2) { %>
            <h3 id='pokemon2Name'> <%= poke2.name %></h3>
            <% } else { %>
              <form action="/pokemon/join/p2" method="post">
            <select id="pokemon2" name='pokemon_menu'>
                <% for (var i = 0; i < pokemon.length; i++){ %>
                    <option value="<%= pokemon[i].id %>">
                        <%= pokemon[i].name %>
                            <% } %>
            </select>
            <a id='join2' type='submit' class='btn btn-success' href="/pokemon/join/p2">Add Pokemon to gym!</a>
          </form>
            <% } %>
          </div>
          <div id="prebattle">
            <a id='battle' class='btn btn-success' href="/gym/battle">Battle!</a>
          </div>
          <div id="winner">
            <h1><%= pokemon.name %> is the Winner!</h1>
          </div>
    </div>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(p1) {
      $('#winner').hide();
     $('#battle').on('click', function(){
       $('#winner').show();
      })
     })
    </script>
